language: php
matrix:
  include:
    - php: 5.6
      env: 'HIGHEST_LOWEST="update --prefer-lowest"'
    - php: 5.6
    - php: 7.0
      env: 'HIGHEST_LOWEST="update --prefer-lowest"'
    - php: 7.0
    - php: 7.1
      env: 'HIGHEST_LOWEST="update --prefer-lowest"'
    - php: 7.1
    - php: 7.2

env:
  global:
    - PATH=$PATH:/home/travis/.composer/vendor/bin:$TRAVIS_BUILD_DIR/vendor/bin

install:
  - composer self-update
  - composer -n ${HIGHEST_LOWEST-install}

script:
  - grumphp run
  - DRUPAL_MAJOR_VERSION=7 tests/scripts/setup-drupal.sh
  - DRUPAL_MAJOR_VERSION=7 tests/scripts/run-tests.sh
  - DRUPAL_MAJOR_VERSION=8 tests/scripts/setup-drupal.sh
  - DRUPAL_MAJOR_VERSION=8 tests/scripts/run-tests.sh

notifications:
  email: false
